<div class="dataTables_wrapper no-footer">
  <span class="dataTables_length">
    Show <select [(ngModel)]="maxNumOfResults">
      <option [value]="10">10</option>
      <option [value]="25">25</option>
      <option [value]="50">50</option>
      <option [value]="100">100</option>
    </select> entries
  </span>
  <span class="dataTables_filter">
    Search: <input [(ngModel)]="searchTerm" />
  </span>
  <table id="tblResults_DEV" class="dataTable no-footer" [ngStyle]="{'width' : initWidth}">
    <thead>
      <tr>
        <th *ngFor="let cell of dataTable?.headerRow?.cells"
            [ngClass]="headerCellCssClasses(cell)"
            [attr.class]="cell.cssClass"
            [innerHTML]="cell.items[0].text"
            (click)="sortByCol(cell.id)"
            rowspan="1"
            colspan="1">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of getRows().slice((this.pageNumber-1)*maxNumOfResults, this.pageNumber*maxNumOfResults); let isOdd = odd"
          [attr.class]="row.cssClass"
          [class.odd]="isOdd"
          [class.even]="!isOdd"
          rowspan="1"
          colspan="1">
        <td *ngFor="let cell of row?.cells"
            [attr.class]="cell.cssClass">
          <data-table-cell-item *ngFor="let item of cell.items"
                                [item]="item">
          </data-table-cell-item>
        </td>
      </tr>
      <tr *ngIf="getRows().length === 0"
          class="dataTable_EmptyRow">
        <td rowspan="1"
            [attr.colspan]="dataTable?.headerRow?.cells?.length">No Results
        </td>
      </tr>
    </tbody>
  </table>
  <div class="dataTables_info" [innerHTML]="getPaginationInfo()"></div>
  <div [hidden]="numOfPages <= 1"
       class="dataTables_paginate paging_simple_numbers" >
    <button [class.disabled]="pageNumber === 1"
            class="no_background paginate_button previous"
            tabindex="0"
            (click)="changePage(pageNumber-1)">Previous</button>
      <span *ngFor="let page of getPageRange()">
        <span *ngIf="page ==='…'"
              class="ellipsis"
              [innerHTML]="page">
        </span>
        <button *ngIf="page !=='…'"
                class="no_background paginate_button"
                [class.current]="page === pageNumber.toString()"
                tabindex="0"
                (click)="changePage(page)"
                [innerHTML]="page"></button>
      </span>
    <button class="no_background paginate_button next"
            [class.disabled]="upperLimit === totalNumOfResults"
            tabindex="0"
            (click)="changePage(pageNumber+1)">Next</button>
  </div>
</div>