.xxx-application-menu > span, .xxx-application-menu > div > span {
    display: inline-block;
    margin: 3px;
    background: #87CEEB;
    padding: 2px 4px;
    cursor: default;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.application-menu{
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: large;
    height: calc(100% - 8px);
}

.application-menu-option {
    background: white;
    display: block;
    position: relative;
    border: 1px solid #cccccc;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}

.application-menu-option.active{
    border: #5f5f5f 2px solid;
    background: #cccccc;
}

.application-menu-option.active:hover{
    border: #5f5f5f 2px solid;
    background: #cccccc;
}

.application-menu-option:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #e6e6e6;
}

.application-menu-option:first-child {
    border-top-left-radius:  5px;
}

.application-menu-option:last-child {
    border-bottom-left-radius:  5px;
}

.application-menu-icon {
    height: 50px;
    width: 50px;
}

.application-menu-label {
    padding: 0 0 0 15px;
    position: absolute;
    top: 16px;
}

.flyout-menu{
    position: absolute;
    z-index: 1000;
    top: 8px;
    left: 59px;
    height: calc(100% - 8px);
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: large;
}

.flyout-menu-systems{
    border: #d6d6d6 solid 1px;
    width: 100%;
    position: absolute;
    font: inherit;
    height: 32px;
    padding: 0 0 0 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/app/images/right_arrow.png) 9px / 15% no-repeat #cccccc;
    border-bottom: #a0a0a0 solid 1px;
}

.flyout-menu-envs{
    border: #d6d6d6 solid 1px;
    background: white;
    padding: 0;
    margin: 0;
    cursor: default;
    height: calc(100% - 34px);
    width: calc(100% - 2px);
    position: absolute;
    top: 32px;
    height: calc(100% - 34px);
}

.flyout-menu-envs > li {
    display: block;
    padding: 5px 10px;
    border-top: #e6e6e6 solid 1px;
    border-bottom: #a0a0a0 solid 1px;
}

.flyout-menu-envs > li > input {
    width: 11%;
}

.flyout-menu-envs > li.active {
    background: #e8e8e8;
}

.flyout-menu-envs >li:hover {
    background: #c3c3c3;
    border-top: #c3c3c3 solid 1px;
    border-bottom: #676767 solid 1px;
}

.flyout-menu-arrow{
    background: url(/app/images/right_arrow.png) no-repeat;
    height: 28px;
    width: 28px;
    background-size: 28px;
    display: inline-block;
    position: absolute;
    left: 145px;
    top: 11px;
}
