<div class="application-menu">
  <div (mouseenter)="hoverOptions.runTest.state = 'hovering'"
       (mouseleave)="hoverOptions.runTest.state = 'off'"
       [@menuHoverState]="hoverOptions.runTest.state"
       (click)="runTest()"
       class="application-menu-option">
    <img src="/app/images/run-test-icon.png" class="application-menu-icon"/>
    <span class="application-menu-label">Run Test</span>
  </div>
  <div (mouseenter)="hoverOptions.submitTest.state = 'hovering'"
       (mouseleave)="hoverOptions.submitTest.state = 'off'"
       [@menuHoverState]="hoverOptions.submitTest.state"
       (click)="testSubmssionClick()"
       class="application-menu-option"
       [ngClass]="{ 'active': hoverOptions.submitTest.selected === 'on' }">
    <img src="/app/images/submit-test-icon.png" class="application-menu-icon"/>
    <span class="application-menu-label">Submit Test</span>
  </div>
  <test-submission [hidden]="hoverOptions.submitTest.selected === 'off'"
                   (outsideModalClick)="testSubmssionFlyoutClickOutside()"></test-submission>
  <div (mouseenter)="hoverOptions.viewTests.state = 'hovering'"
       (mouseleave)="hoverOptions.viewTests.state = 'off'"
       [@menuHoverState]="hoverOptions.viewTests.state"
       (click)="clickViewTests()"
       class="application-menu-option"
       [ngClass]="{ 'active': hoverOptions.viewTests.selected === 'on' }">
    <img src="/app/images/view-tests-icon.png" class="application-menu-icon"/>
    <span class="application-menu-label">View Tests</span>
  </div>
  <div (mouseenter)="hoverOptions.envs.state = 'hovering'"
       (mouseleave)="hoverOptions.envs.state = 'off'"
       [@menuHoverState]="hoverOptions.envs.state"
       (click)="envsClick()"
       class="application-menu-option"
       [ngClass]="{ 'active': hoverOptions.envs.selected === 'on' }">
    <img src="/app/images/envs-icon.png" class="application-menu-icon"/>
    <span class="application-menu-label">Envs</span>
    <span class="flyout-menu-arrow"></span>
  </div>
</div>
<div class="flyout-menu"
   [@flyoutMenuOpenState]="hoverOptions.envs.selected"
   (clickOutside)="envsFlyoutClickOutside()">
  <select class="flyout-menu-systems"
          [ngModel]="currSys.id | uppercase"
          (ngModelChange)="changeCurrSystem($event)" >
    <option *ngFor="let system of systems; trackBy:trackBySystemIds"
            [value]="system.id"
            [innerHTML]="system.id" >
    </option>
  </select>
  <ul class="flyout-menu-envs">
    <li *ngFor="let item of envFlyoutItems; trackBy:trackByEnvs"
        [attr.id]="item.id"
        (click)="item.value = !item.value; envModelChange()"
        [ngClass]="{ 'active': item.value }">
        <input type="checkbox"
               [ngModel]="item.value"
               (ngModelChange)="item.value = $event; envModelChange()"
               (click)="$event.stopPropagation()" />
        <span [innerHTML]="item.name"></span>
    </li>
  </ul>
</div>