<div class="overlay">
  <div class="overlay-form">
    <span class="Centerer"></span>
    <form #frmTestSubmission="ngForm"
          class="input-form"
          (submit)="submitTest($event)"
          (clickOutside)="clickedOutsideModal()" >
      <div>
        <input #txtSubmitter="ngModel"
               name="submitter"
               [(ngModel)]="testModel.submitter"
               placeholder="FirstName.LastName"
               title="This is the person that gets contacted after the test execution."
               required />
        <div [hidden]="txtSubmitter.valid || !txtSubmitter.touched" class="required-alert">Required</div>
      </div>
      <div>
        <input #txtTicketId="ngModel"
               name="ticket_id"
               [(ngModel)]="testModel.ticketId"
               placeholder="Ticket ID"
               title="This is the Ticket ID that relates to this test."
               required />
        <div [hidden]="txtTicketId.valid || !txtTicketId.touched" class="required-alert">Required</div>
      </div>
      <!--
      <div>
        <input #txtRevisionNum="ngModel"
               placeholder="Revision Number(s)"
               [(ngModel)]="xxxxxxxxxxxx"
               title="Enter the version control revision number(s) that apply to this test. Separate multiple revision numbers by spaces."
               required />
        <div [hidden]="txtRevisionNum.valid || !txtRevisionNum.touched" class="required-alert">Required</div>
      </div>
      -->
      <div>
        <input #txtFileList="ngModel"
               name="fileList"
               [(ngModel)]="fileList"
               placeholder="File URL(s)"
               title="Enter the URL of the file(s) that needs to be deployed, before the test gets triggered. Separate multiple URLs by spaces."
               required >
        <div [hidden]="txtFileList.valid || !txtFileList.touched" class="required-alert">Required</div>
      </div>
      <div>
        <button type="submit" [disabled]="!frmTestSubmission.form.valid">Submit</button>
      </div>
      <span [@submissionSuccessMsg]="submissionFail" class="test-submission-msg">Test Submitted!!!</span>
    </form>
  </div>
</div>