#Run with: pip install -r /path/to/requirements.txt
requests
bottle
flake8
"cherrypy>=3.8.0,<9.0.0"

# Downloaded "python-jose-1.3.2", update setup.py file to
# use pycryptodome instead of pycrypto, then
# run "pytyhon setup.py install"
python-jose 